body{
    padding:0px;
    margin: 5px;
}
header{
    text-align: center;
    
     
    }
h2{
    text-align: center;
    color: brown;
    padding: 10px;;
    background-color: aqua;
}
#first div{
 background-color:rgba(rgb(116, 145, 73), green, blue, alpha);
}
main{
    color: rgb(3, 3, 3);
    text-align: center;
    background-image: url(./img1.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
span{
    font-size: large

}
h1:hover{

    transition: 2s;
    color:rgba(17, 0, 204, 0.856);
}

 